
.vs/osu\!Tracker/v17/.suo
*.vsidx
*.ipch
*.tlog
*.pdb
*.ilk
*.log
*.obj
*.idb
*.p7s
*.props
*.targets
packages/Microsoft.Build.Tasks.Git.1.1.1/Icon.png
*.nupkg
packages/Microsoft.SourceLink.GitHub.1.1.1/tools/net472/zh-Hant/Microsoft.SourceLink.GitHub.resources.dll
packages/Microsoft.SourceLink.GitHub.1.1.1/tools/net472/zh-Hans/Microsoft.SourceLink.GitHub.resources.dll
packages/Microsoft.SourceLink.GitHub.1.1.1/tools/net472/tr/Microsoft.SourceLink.GitHub.resources.dll
packages/Microsoft.SourceLink.GitHub.1.1.1/tools/net472/ru/Microsoft.SourceLink.GitHub.resources.dll
packages/Microsoft.SourceLink.GitHub.1.1.1/tools/net472/pt-BR/Microsoft.SourceLink.GitHub.resources.dll
packages/Microsoft.SourceLink.GitHub.1.1.1/tools/core/zh-Hant/Microsoft.SourceLink.GitHub.resources.dll
packages/Microsoft.SourceLink.GitHub.1.1.1/tools/net472/de/Microsoft.SourceLink.GitHub.resources.dll
packages/Microsoft.SourceLink.GitHub.1.1.1/tools/net472/es/Microsoft.SourceLink.GitHub.resources.dll
packages/Microsoft.SourceLink.GitHub.1.1.1/tools/net472/fr/Microsoft.SourceLink.GitHub.resources.dll
packages/Microsoft.SourceLink.GitHub.1.1.1/tools/net472/it/Microsoft.SourceLink.GitHub.resources.dll
packages/Microsoft.SourceLink.GitHub.1.1.1/tools/net472/it/Microsoft.SourceLink.GitHub.resources.dll
packages/Microsoft.SourceLink.GitHub.1.1.1/tools/net472/ja/Microsoft.SourceLink.GitHub.resources.dll
packages/Microsoft.SourceLink.GitHub.1.1.1/tools/net472/ja/Microsoft.SourceLink.GitHub.resources.dll
packages/Microsoft.SourceLink.GitHub.1.1.1/tools/net472/ko/Microsoft.SourceLink.GitHub.resources.dll
packages/Microsoft.SourceLink.GitHub.1.1.1/tools/net472/Microsoft.SourceLink.GitHub.dll
packages/Microsoft.SourceLink.GitHub.1.1.1/tools/net472/pl/Microsoft.SourceLink.GitHub.resources.dll
packages/Microsoft.SourceLink.GitHub.1.1.1/tools/net472/cs/Microsoft.SourceLink.GitHub.resources.dll
packages/Microsoft.SourceLink.GitHub.1.1.1/tools/core/zh-Hans/Microsoft.SourceLink.GitHub.resources.dll
packages/Microsoft.SourceLink.GitHub.1.1.1/tools/core/tr/Microsoft.SourceLink.GitHub.resources.dll
packages/Microsoft.SourceLink.GitHub.1.1.1/tools/core/ru/Microsoft.SourceLink.GitHub.resources.dll
packages/Microsoft.SourceLink.GitHub.1.1.1/tools/core/pt-BR/Microsoft.SourceLink.GitHub.resources.dll
packages/Microsoft.SourceLink.GitHub.1.1.1/tools/core/pl/Microsoft.SourceLink.GitHub.resources.dll
packages/Microsoft.SourceLink.GitHub.1.1.1/tools/core/Microsoft.SourceLink.GitHub.dll
packages/Microsoft.SourceLink.GitHub.1.1.1/tools/core/ko/Microsoft.SourceLink.GitHub.resources.dll
packages/Microsoft.SourceLink.GitHub.1.1.1/tools/core/it/Microsoft.SourceLink.GitHub.resources.dll
packages/Microsoft.SourceLink.GitHub.1.1.1/tools/core/fr/Microsoft.SourceLink.GitHub.resources.dll
packages/Microsoft.SourceLink.GitHub.1.1.1/tools/core/de/Microsoft.SourceLink.GitHub.resources.dll
packages/Microsoft.SourceLink.GitHub.1.1.1/Icon.png
packages/Microsoft.SourceLink.GitHub.1.1.1/tools/core/es/Microsoft.SourceLink.GitHub.resources.dll
packages/Microsoft.SourceLink.Common.1.1.1/tools/net472/ru/Microsoft.SourceLink.Common.resources.dll
packages/Microsoft.SourceLink.Common.1.1.1/tools/net472/pl/Microsoft.SourceLink.Common.resources.dll
packages/Microsoft.SourceLink.Common.1.1.1/tools/net472/tr/Microsoft.SourceLink.Common.resources.dll
packages/Microsoft.SourceLink.Common.1.1.1/tools/net472/ko/Microsoft.SourceLink.Common.resources.dll
packages/Microsoft.SourceLink.Common.1.1.1/tools/net472/Microsoft.SourceLink.Common.dll
packages/Microsoft.SourceLink.Common.1.1.1/tools/net472/ja/Microsoft.SourceLink.Common.resources.dll
packages/Microsoft.SourceLink.Common.1.1.1/tools/net472/fr/Microsoft.SourceLink.Common.resources.dll
packages/Microsoft.SourceLink.Common.1.1.1/tools/net472/de/Microsoft.SourceLink.Common.resources.dll
packages/Microsoft.SourceLink.Common.1.1.1/tools/net472/it/Microsoft.SourceLink.Common.resources.dll
packages/Microsoft.SourceLink.Common.1.1.1/tools/core/tr/Microsoft.SourceLink.Common.resources.dll
packages/Microsoft.SourceLink.Common.1.1.1/tools/core/zh-Hans/Microsoft.SourceLink.Common.resources.dll
packages/Microsoft.SourceLink.Common.1.1.1/tools/core/zh-Hant/Microsoft.SourceLink.Common.resources.dll
packages/Microsoft.SourceLink.Common.1.1.1/tools/net472/cs/Microsoft.SourceLink.Common.resources.dll
packages/Microsoft.SourceLink.Common.1.1.1/tools/net472/es/Microsoft.SourceLink.Common.resources.dll
packages/Microsoft.SourceLink.Common.1.1.1/tools/net472/pt-BR/Microsoft.SourceLink.Common.resources.dll
packages/Microsoft.SourceLink.Common.1.1.1/tools/net472/zh-Hans/Microsoft.SourceLink.Common.resources.dll
packages/Microsoft.SourceLink.Common.1.1.1/tools/net472/zh-Hant/Microsoft.SourceLink.Common.resources.dll
packages/Microsoft.SourceLink.GitHub.1.1.1/tools/core/cs/Microsoft.SourceLink.GitHub.resources.dll
packages/Microsoft.SourceLink.GitHub.1.1.1/tools/core/ja/Microsoft.SourceLink.GitHub.resources.dll
packages/Microsoft.SourceLink.Common.1.1.1/tools/core/ru/Microsoft.SourceLink.Common.resources.dll
packages/Microsoft.SourceLink.Common.1.1.1/tools/core/pt-BR/Microsoft.SourceLink.Common.resources.dll
packages/Microsoft.SourceLink.Common.1.1.1/tools/core/pl/Microsoft.SourceLink.Common.resources.dll
packages/Microsoft.SourceLink.Common.1.1.1/tools/core/Microsoft.SourceLink.Common.dll
packages/Microsoft.SourceLink.Common.1.1.1/tools/core/ko/Microsoft.SourceLink.Common.resources.dll
packages/Microsoft.SourceLink.Common.1.1.1/tools/core/ja/Microsoft.SourceLink.Common.resources.dll
packages/Microsoft.SourceLink.Common.1.1.1/tools/core/it/Microsoft.SourceLink.Common.resources.dll
packages/Microsoft.SourceLink.Common.1.1.1/tools/core/fr/Microsoft.SourceLink.Common.resources.dll
packages/Microsoft.SourceLink.Common.1.1.1/tools/core/es/Microsoft.SourceLink.Common.resources.dll
packages/Microsoft.SourceLink.Common.1.1.1/tools/core/de/Microsoft.SourceLink.Common.resources.dll
packages/Microsoft.SourceLink.Common.1.1.1/tools/core/cs/Microsoft.SourceLink.Common.resources.dll
packages/Microsoft.SourceLink.Common.1.1.1/Icon.png
packages/Microsoft.Build.Tasks.Git.1.1.1/tools/net472/zh-Hant/Microsoft.Build.Tasks.Git.resources.dll
packages/Microsoft.Build.Tasks.Git.1.1.1/tools/net472/zh-Hans/Microsoft.Build.Tasks.Git.resources.dll
packages/Microsoft.Build.Tasks.Git.1.1.1/tools/net472/tr/Microsoft.Build.Tasks.Git.resources.dll
packages/Microsoft.Build.Tasks.Git.1.1.1/tools/net472/System.Collections.Immutable.dll
packages/Microsoft.Build.Tasks.Git.1.1.1/tools/net472/ru/Microsoft.Build.Tasks.Git.resources.dll
packages/Microsoft.Build.Tasks.Git.1.1.1/tools/net472/pt-BR/Microsoft.Build.Tasks.Git.resources.dll
packages/Microsoft.Build.Tasks.Git.1.1.1/tools/net472/pl/Microsoft.Build.Tasks.Git.resources.dll
packages/Microsoft.Build.Tasks.Git.1.1.1/tools/net472/Microsoft.Build.Tasks.Git.dll
packages/Microsoft.Build.Tasks.Git.1.1.1/tools/net472/ko/Microsoft.Build.Tasks.Git.resources.dll
packages/Microsoft.Build.Tasks.Git.1.1.1/tools/net472/ja/Microsoft.Build.Tasks.Git.resources.dll
packages/Microsoft.Build.Tasks.Git.1.1.1/tools/net472/it/Microsoft.Build.Tasks.Git.resources.dll
packages/Microsoft.Build.Tasks.Git.1.1.1/tools/net472/fr/Microsoft.Build.Tasks.Git.resources.dll
packages/Microsoft.Build.Tasks.Git.1.1.1/tools/net472/es/Microsoft.Build.Tasks.Git.resources.dll
packages/Microsoft.Build.Tasks.Git.1.1.1/tools/net472/de/Microsoft.Build.Tasks.Git.resources.dll
packages/Microsoft.Build.Tasks.Git.1.1.1/tools/net472/cs/Microsoft.Build.Tasks.Git.resources.dll
packages/Microsoft.Build.Tasks.Git.1.1.1/tools/core/zh-Hant/Microsoft.Build.Tasks.Git.resources.dll
packages/Microsoft.Build.Tasks.Git.1.1.1/tools/core/zh-Hans/Microsoft.Build.Tasks.Git.resources.dll
packages/Microsoft.Build.Tasks.Git.1.1.1/tools/core/tr/Microsoft.Build.Tasks.Git.resources.dll
packages/Microsoft.Build.Tasks.Git.1.1.1/tools/core/ru/Microsoft.Build.Tasks.Git.resources.dll
packages/Microsoft.Build.Tasks.Git.1.1.1/tools/core/pt-BR/Microsoft.Build.Tasks.Git.resources.dll
packages/Microsoft.Build.Tasks.Git.1.1.1/tools/core/pl/Microsoft.Build.Tasks.Git.resources.dll
packages/Microsoft.Build.Tasks.Git.1.1.1/tools/core/Microsoft.Build.Tasks.Git.dll
packages/Microsoft.Build.Tasks.Git.1.1.1/tools/core/ko/Microsoft.Build.Tasks.Git.resources.dll
packages/Microsoft.Build.Tasks.Git.1.1.1/tools/core/ja/Microsoft.Build.Tasks.Git.resources.dll
packages/Microsoft.Build.Tasks.Git.1.1.1/tools/core/it/Microsoft.Build.Tasks.Git.resources.dll
packages/Microsoft.Build.Tasks.Git.1.1.1/tools/core/fr/Microsoft.Build.Tasks.Git.resources.dll
packages/Microsoft.Build.Tasks.Git.1.1.1/tools/core/es/Microsoft.Build.Tasks.Git.resources.dll
packages/Microsoft.Build.Tasks.Git.1.1.1/tools/core/de/Microsoft.Build.Tasks.Git.resources.dll
packages/Microsoft.Build.Tasks.Git.1.1.1/tools/core/cs/Microsoft.Build.Tasks.Git.resources.dll
osu\!Tracker/x64/Release/osu\!Tracker.vcxproj.FileListAbsolute.txt
osu\!Tracker/x64/Release/osu\!Tracker.sourcelink.json
*.ipdb
*.iobj
*.recipe
*.command
*.ifc
osu\!Tracker/Release/osu\!Tracker.vcxproj.FileListAbsolute.txt
osu\!Tracker/Release/osu\!Tracker.sourcelink.json
osu\!Tracker/x64/Debug/osu\!Tracker.vcxproj.FileListAbsolute.txt
osu\!Tracker/x64/Debug/config.h_F142AEBC5532C952.ifc.dt.module.json
osu\!Tracker/x64/Debug/config.h_F142AEBC5532C952.ifc.dt.d.json
osu\!Tracker/x64/Debug/config.h.module.json
osu\!Tracker/x64/Debug/config.h.ifc.d.json
*.exe
*.cmake
*.lock
*.db-shm
*.db
*.db-wal
*.opendb
*.sln
*.dll
osu\!Tracker/dep/api/x64/Debug/bin/curl-config
osu\!Tracker/dep/api/x64/Debug/include/cpr/accept_encoding.h
osu\!Tracker/dep/api/x64/Debug/include/cpr/api.h
osu\!Tracker/dep/api/x64/Debug/include/cpr/async.h
osu\!Tracker/dep/api/x64/Debug/include/cpr/async_wrapper.h
osu\!Tracker/dep/api/x64/Debug/include/cpr/auth.h
osu\!Tracker/dep/api/x64/Debug/include/cpr/bearer.h
osu\!Tracker/dep/api/x64/Debug/include/cpr/body.h
osu\!Tracker/dep/api/x64/Debug/include/cpr/buffer.h
osu\!Tracker/dep/api/x64/Debug/include/cpr/callback.h
osu\!Tracker/dep/api/x64/Debug/include/cpr/cert_info.h
osu\!Tracker/dep/api/x64/Debug/include/cpr/connect_timeout.h
osu\!Tracker/dep/api/x64/Debug/include/cpr/cookies.h
osu\!Tracker/dep/api/x64/Debug/include/cpr/cpr.h
osu\!Tracker/dep/api/x64/Debug/include/cpr/cprtypes.h
osu\!Tracker/dep/api/x64/Debug/include/cpr/cprver.h
osu\!Tracker/dep/api/x64/Debug/include/cpr/curl_container.h
osu\!Tracker/dep/api/x64/Debug/include/cpr/curlholder.h
osu\!Tracker/dep/api/x64/Debug/include/cpr/curlmultiholder.h
osu\!Tracker/dep/api/x64/Debug/include/cpr/error.h
osu\!Tracker/dep/api/x64/Debug/include/cpr/file.h
osu\!Tracker/dep/api/x64/Debug/include/cpr/filesystem.h
osu\!Tracker/dep/api/x64/Debug/include/cpr/http_version.h
osu\!Tracker/dep/api/x64/Debug/include/cpr/interceptor.h
osu\!Tracker/dep/api/x64/Debug/include/cpr/interface.h
osu\!Tracker/dep/api/x64/Debug/include/cpr/limit_rate.h
osu\!Tracker/dep/api/x64/Debug/include/cpr/local_port.h
osu\!Tracker/dep/api/x64/Debug/include/cpr/local_port_range.h
osu\!Tracker/dep/api/x64/Debug/include/cpr/low_speed.h
osu\!Tracker/dep/api/x64/Debug/include/cpr/multipart.h
osu\!Tracker/dep/api/x64/Debug/include/cpr/multiperform.h
osu\!Tracker/dep/api/x64/Debug/include/cpr/parameters.h
osu\!Tracker/dep/api/x64/Debug/include/cpr/payload.h
osu\!Tracker/dep/api/x64/Debug/include/cpr/proxies.h
osu\!Tracker/dep/api/x64/Debug/include/cpr/proxyauth.h
osu\!Tracker/dep/api/x64/Debug/include/cpr/range.h
osu\!Tracker/dep/api/x64/Debug/include/cpr/redirect.h
osu\!Tracker/dep/api/x64/Debug/include/cpr/reserve_size.h
osu\!Tracker/dep/api/x64/Debug/include/cpr/resolve.h
osu\!Tracker/dep/api/x64/Debug/include/cpr/response.h
osu\!Tracker/dep/api/x64/Debug/include/cpr/session.h
osu\!Tracker/dep/api/x64/Debug/include/cpr/singleton.h
osu\!Tracker/dep/api/x64/Debug/include/cpr/ssl_ctx.h
osu\!Tracker/dep/api/x64/Debug/include/cpr/ssl_options.h
osu\!Tracker/dep/api/x64/Debug/include/cpr/status_codes.h
osu\!Tracker/dep/api/x64/Debug/include/cpr/threadpool.h
osu\!Tracker/dep/api/x64/Debug/include/cpr/timeout.h
osu\!Tracker/dep/api/x64/Debug/include/cpr/unix_socket.h
osu\!Tracker/dep/api/x64/Debug/include/cpr/user_agent.h
osu\!Tracker/dep/api/x64/Debug/include/cpr/util.h
osu\!Tracker/dep/api/x64/Debug/include/cpr/verbose.h
osu\!Tracker/dep/api/x64/Debug/include/curl/curl.h
osu\!Tracker/dep/api/x64/Debug/include/curl/curlver.h
osu\!Tracker/dep/api/x64/Debug/include/curl/easy.h
osu\!Tracker/dep/api/x64/Debug/include/curl/mprintf.h
osu\!Tracker/dep/api/x64/Debug/include/curl/multi.h
osu\!Tracker/dep/api/x64/Debug/include/curl/options.h
osu\!Tracker/dep/api/x64/Debug/include/curl/stdcheaders.h
osu\!Tracker/dep/api/x64/Debug/include/curl/system.h
osu\!Tracker/dep/api/x64/Debug/include/curl/typecheck-gcc.h
osu\!Tracker/dep/api/x64/Debug/include/curl/urlapi.h
osu\!Tracker/dep/api/x64/Debug/lib/cpr.lib
osu\!Tracker/dep/api/x64/Debug/lib/libcurl-d_imp.lib
osu\!Tracker/dep/api/x64/Debug/lib/libcurl_imp.lib
osu\!Tracker/dep/api/x64/Debug/lib/pkgconfig/libcurl.pc
osu\!Tracker/dep/api/x64/Release/bin/curl-config
osu\!Tracker/dep/api/x64/Release/include/cpr/accept_encoding.h
osu\!Tracker/dep/api/x64/Release/include/cpr/api.h
osu\!Tracker/dep/api/x64/Release/include/cpr/async.h
osu\!Tracker/dep/api/x64/Release/include/cpr/async_wrapper.h
osu\!Tracker/dep/api/x64/Release/include/cpr/auth.h
osu\!Tracker/dep/api/x64/Release/include/cpr/bearer.h
osu\!Tracker/dep/api/x64/Release/include/cpr/body.h
osu\!Tracker/dep/api/x64/Release/include/cpr/buffer.h
osu\!Tracker/dep/api/x64/Release/include/cpr/callback.h
osu\!Tracker/dep/api/x64/Release/include/cpr/cert_info.h
osu\!Tracker/dep/api/x64/Release/include/cpr/connect_timeout.h
osu\!Tracker/dep/api/x64/Release/include/cpr/cookies.h
osu\!Tracker/dep/api/x64/Release/include/cpr/cpr.h
osu\!Tracker/dep/api/x64/Release/include/cpr/cprtypes.h
osu\!Tracker/dep/api/x64/Release/include/cpr/cprver.h
osu\!Tracker/dep/api/x64/Release/include/cpr/curl_container.h
osu\!Tracker/dep/api/x64/Release/include/cpr/curlholder.h
osu\!Tracker/dep/api/x64/Release/include/cpr/curlmultiholder.h
osu\!Tracker/dep/api/x64/Release/include/cpr/error.h
osu\!Tracker/dep/api/x64/Release/include/cpr/file.h
osu\!Tracker/dep/api/x64/Release/include/cpr/filesystem.h
osu\!Tracker/dep/api/x64/Release/include/cpr/http_version.h
osu\!Tracker/dep/api/x64/Release/include/cpr/interceptor.h
osu\!Tracker/dep/api/x64/Release/include/cpr/interface.h
osu\!Tracker/dep/api/x64/Release/include/cpr/limit_rate.h
osu\!Tracker/dep/api/x64/Release/include/cpr/local_port.h
osu\!Tracker/dep/api/x64/Release/include/cpr/local_port_range.h
osu\!Tracker/dep/api/x64/Release/include/cpr/low_speed.h
osu\!Tracker/dep/api/x64/Release/include/cpr/multipart.h
osu\!Tracker/dep/api/x64/Release/include/cpr/multiperform.h
osu\!Tracker/dep/api/x64/Release/include/cpr/parameters.h
osu\!Tracker/dep/api/x64/Release/include/cpr/payload.h
osu\!Tracker/dep/api/x64/Release/include/cpr/proxies.h
osu\!Tracker/dep/api/x64/Release/include/cpr/proxyauth.h
osu\!Tracker/dep/api/x64/Release/include/cpr/range.h
osu\!Tracker/dep/api/x64/Release/include/cpr/redirect.h
osu\!Tracker/dep/api/x64/Release/include/cpr/reserve_size.h
osu\!Tracker/dep/api/x64/Release/include/cpr/resolve.h
osu\!Tracker/dep/api/x64/Release/include/cpr/response.h
osu\!Tracker/dep/api/x64/Release/include/cpr/session.h
osu\!Tracker/dep/api/x64/Release/include/cpr/singleton.h
osu\!Tracker/dep/api/x64/Release/include/cpr/ssl_ctx.h
osu\!Tracker/dep/api/x64/Release/include/cpr/ssl_options.h
osu\!Tracker/dep/api/x64/Release/include/cpr/status_codes.h
osu\!Tracker/dep/api/x64/Release/include/cpr/threadpool.h
osu\!Tracker/dep/api/x64/Release/include/cpr/timeout.h
osu\!Tracker/dep/api/x64/Release/include/cpr/unix_socket.h
osu\!Tracker/dep/api/x64/Release/include/cpr/user_agent.h
osu\!Tracker/dep/api/x64/Release/include/cpr/util.h
osu\!Tracker/dep/api/x64/Release/include/cpr/verbose.h
osu\!Tracker/dep/api/x64/Release/include/curl/curl.h
osu\!Tracker/dep/api/x64/Release/include/curl/curlver.h
osu\!Tracker/dep/api/x64/Release/include/curl/easy.h
osu\!Tracker/dep/api/x64/Release/include/curl/mprintf.h
osu\!Tracker/dep/api/x64/Release/include/curl/multi.h
osu\!Tracker/dep/api/x64/Release/include/curl/options.h
osu\!Tracker/dep/api/x64/Release/include/curl/stdcheaders.h
osu\!Tracker/dep/api/x64/Release/include/curl/system.h
osu\!Tracker/dep/api/x64/Release/include/curl/typecheck-gcc.h
osu\!Tracker/dep/api/x64/Release/include/curl/urlapi.h
osu\!Tracker/dep/api/x64/Release/lib/cpr.lib
osu\!Tracker/dep/api/x64/Release/lib/libcurl-d_imp.lib
osu\!Tracker/dep/api/x64/Release/lib/libcurl_imp.lib
osu\!Tracker/dep/api/x64/Release/lib/pkgconfig/libcurl.pc
osu\!Tracker/dep/api/x86/Debug/bin/curl-config
osu\!Tracker/dep/api/x86/Debug/include/cpr/accept_encoding.h
osu\!Tracker/dep/api/x86/Debug/include/cpr/api.h
osu\!Tracker/dep/api/x86/Debug/include/cpr/async.h
osu\!Tracker/dep/api/x86/Debug/include/cpr/async_wrapper.h
osu\!Tracker/dep/api/x86/Debug/include/cpr/auth.h
osu\!Tracker/dep/api/x86/Debug/include/cpr/bearer.h
osu\!Tracker/dep/api/x86/Debug/include/cpr/body.h
osu\!Tracker/dep/api/x86/Debug/include/cpr/buffer.h
osu\!Tracker/dep/api/x86/Debug/include/cpr/callback.h
osu\!Tracker/dep/api/x86/Debug/include/cpr/cert_info.h
osu\!Tracker/dep/api/x86/Debug/include/cpr/connect_timeout.h
osu\!Tracker/dep/api/x86/Debug/include/cpr/cookies.h
osu\!Tracker/dep/api/x86/Debug/include/cpr/cpr.h
osu\!Tracker/dep/api/x86/Debug/include/cpr/cprtypes.h
osu\!Tracker/dep/api/x86/Debug/include/cpr/cprver.h
osu\!Tracker/dep/api/x86/Debug/include/cpr/curl_container.h
osu\!Tracker/dep/api/x86/Debug/include/cpr/curlholder.h
osu\!Tracker/dep/api/x86/Debug/include/cpr/curlmultiholder.h
osu\!Tracker/dep/api/x86/Debug/include/cpr/error.h
osu\!Tracker/dep/api/x86/Debug/include/cpr/file.h
osu\!Tracker/dep/api/x86/Debug/include/cpr/filesystem.h
osu\!Tracker/dep/api/x86/Debug/include/cpr/http_version.h
osu\!Tracker/dep/api/x86/Debug/include/cpr/interceptor.h
osu\!Tracker/dep/api/x86/Debug/include/cpr/interface.h
osu\!Tracker/dep/api/x86/Debug/include/cpr/limit_rate.h
osu\!Tracker/dep/api/x86/Debug/include/cpr/local_port.h
osu\!Tracker/dep/api/x86/Debug/include/cpr/local_port_range.h
osu\!Tracker/dep/api/x86/Debug/include/cpr/low_speed.h
osu\!Tracker/dep/api/x86/Debug/include/cpr/multipart.h
osu\!Tracker/dep/api/x86/Debug/include/cpr/multiperform.h
osu\!Tracker/dep/api/x86/Debug/include/cpr/parameters.h
osu\!Tracker/dep/api/x86/Debug/include/cpr/payload.h
osu\!Tracker/dep/api/x86/Debug/include/cpr/proxies.h
osu\!Tracker/dep/api/x86/Debug/include/cpr/proxyauth.h
osu\!Tracker/dep/api/x86/Debug/include/cpr/range.h
osu\!Tracker/dep/api/x86/Debug/include/cpr/redirect.h
osu\!Tracker/dep/api/x86/Debug/include/cpr/reserve_size.h
osu\!Tracker/dep/api/x86/Debug/include/cpr/resolve.h
osu\!Tracker/dep/api/x86/Debug/include/cpr/response.h
osu\!Tracker/dep/api/x86/Debug/include/cpr/session.h
osu\!Tracker/dep/api/x86/Debug/include/cpr/singleton.h
osu\!Tracker/dep/api/x86/Debug/include/cpr/ssl_ctx.h
osu\!Tracker/dep/api/x86/Debug/include/cpr/ssl_options.h
osu\!Tracker/dep/api/x86/Debug/include/cpr/status_codes.h
osu\!Tracker/dep/api/x86/Debug/include/cpr/threadpool.h
osu\!Tracker/dep/api/x86/Debug/include/cpr/timeout.h
osu\!Tracker/dep/api/x86/Debug/include/cpr/unix_socket.h
osu\!Tracker/dep/api/x86/Debug/include/cpr/user_agent.h
osu\!Tracker/dep/api/x86/Debug/include/cpr/util.h
osu\!Tracker/dep/api/x86/Debug/include/cpr/verbose.h
osu\!Tracker/dep/api/x86/Debug/include/curl/curl.h
osu\!Tracker/dep/api/x86/Debug/include/curl/curlver.h
osu\!Tracker/dep/api/x86/Debug/include/curl/easy.h
osu\!Tracker/dep/api/x86/Debug/include/curl/mprintf.h
osu\!Tracker/dep/api/x86/Debug/include/curl/multi.h
osu\!Tracker/dep/api/x86/Debug/include/curl/options.h
osu\!Tracker/dep/api/x86/Debug/include/curl/stdcheaders.h
osu\!Tracker/dep/api/x86/Debug/include/curl/system.h
osu\!Tracker/dep/api/x86/Debug/include/curl/typecheck-gcc.h
osu\!Tracker/dep/api/x86/Debug/include/curl/urlapi.h
osu\!Tracker/dep/api/x86/Debug/lib/cpr.lib
osu\!Tracker/dep/api/x86/Debug/lib/libcurl-d_imp.lib
osu\!Tracker/dep/api/x86/Debug/lib/libcurl_imp.lib
osu\!Tracker/dep/api/x86/Debug/lib/pkgconfig/libcurl.pc
osu\!Tracker/dep/api/x86/Release/bin/curl-config
osu\!Tracker/dep/api/x86/Release/include/cpr/accept_encoding.h
osu\!Tracker/dep/api/x86/Release/include/cpr/api.h
osu\!Tracker/dep/api/x86/Release/include/cpr/async.h
osu\!Tracker/dep/api/x86/Release/include/cpr/async_wrapper.h
osu\!Tracker/dep/api/x86/Release/include/cpr/auth.h
osu\!Tracker/dep/api/x86/Release/include/cpr/bearer.h
osu\!Tracker/dep/api/x86/Release/include/cpr/body.h
osu\!Tracker/dep/api/x86/Release/include/cpr/buffer.h
osu\!Tracker/dep/api/x86/Release/include/cpr/callback.h
osu\!Tracker/dep/api/x86/Release/include/cpr/cert_info.h
osu\!Tracker/dep/api/x86/Release/include/cpr/connect_timeout.h
osu\!Tracker/dep/api/x86/Release/include/cpr/cookies.h
osu\!Tracker/dep/api/x86/Release/include/cpr/cpr.h
osu\!Tracker/dep/api/x86/Release/include/cpr/cprtypes.h
osu\!Tracker/dep/api/x86/Release/include/cpr/cprver.h
osu\!Tracker/dep/api/x86/Release/include/cpr/curl_container.h
osu\!Tracker/dep/api/x86/Release/include/cpr/curlholder.h
osu\!Tracker/dep/api/x86/Release/include/cpr/curlmultiholder.h
osu\!Tracker/dep/api/x86/Release/include/cpr/error.h
osu\!Tracker/dep/api/x86/Release/include/cpr/file.h
osu\!Tracker/dep/api/x86/Release/include/cpr/filesystem.h
osu\!Tracker/dep/api/x86/Release/include/cpr/http_version.h
osu\!Tracker/dep/api/x86/Release/include/cpr/interceptor.h
osu\!Tracker/dep/api/x86/Release/include/cpr/interface.h
osu\!Tracker/dep/api/x86/Release/include/cpr/limit_rate.h
osu\!Tracker/dep/api/x86/Release/include/cpr/local_port.h
osu\!Tracker/dep/api/x86/Release/include/cpr/local_port_range.h
osu\!Tracker/dep/api/x86/Release/include/cpr/low_speed.h
osu\!Tracker/dep/api/x86/Release/include/cpr/multipart.h
osu\!Tracker/dep/api/x86/Release/include/cpr/multiperform.h
osu\!Tracker/dep/api/x86/Release/include/cpr/parameters.h
osu\!Tracker/dep/api/x86/Release/include/cpr/payload.h
osu\!Tracker/dep/api/x86/Release/include/cpr/proxies.h
osu\!Tracker/dep/api/x86/Release/include/cpr/proxyauth.h
osu\!Tracker/dep/api/x86/Release/include/cpr/range.h
osu\!Tracker/dep/api/x86/Release/include/cpr/redirect.h
osu\!Tracker/dep/api/x86/Release/include/cpr/reserve_size.h
osu\!Tracker/dep/api/x86/Release/include/cpr/resolve.h
osu\!Tracker/dep/api/x86/Release/include/cpr/response.h
osu\!Tracker/dep/api/x86/Release/include/cpr/session.h
osu\!Tracker/dep/api/x86/Release/include/cpr/singleton.h
osu\!Tracker/dep/api/x86/Release/include/cpr/ssl_ctx.h
osu\!Tracker/dep/api/x86/Release/include/cpr/ssl_options.h
osu\!Tracker/dep/api/x86/Release/include/cpr/status_codes.h
osu\!Tracker/dep/api/x86/Release/include/cpr/threadpool.h
osu\!Tracker/dep/api/x86/Release/include/cpr/timeout.h
osu\!Tracker/dep/api/x86/Release/include/cpr/unix_socket.h
osu\!Tracker/dep/api/x86/Release/include/cpr/user_agent.h
osu\!Tracker/dep/api/x86/Release/include/cpr/util.h
osu\!Tracker/dep/api/x86/Release/include/cpr/verbose.h
osu\!Tracker/dep/api/x86/Release/include/curl/curl.h
osu\!Tracker/dep/api/x86/Release/include/curl/curlver.h
osu\!Tracker/dep/api/x86/Release/include/curl/easy.h
osu\!Tracker/dep/api/x86/Release/include/curl/mprintf.h
osu\!Tracker/dep/api/x86/Release/include/curl/multi.h
osu\!Tracker/dep/api/x86/Release/include/curl/options.h
osu\!Tracker/dep/api/x86/Release/include/curl/stdcheaders.h
osu\!Tracker/dep/api/x86/Release/include/curl/system.h
osu\!Tracker/dep/api/x86/Release/include/curl/typecheck-gcc.h
osu\!Tracker/dep/api/x86/Release/include/curl/urlapi.h
osu\!Tracker/dep/api/x86/Release/lib/cpr.lib
osu\!Tracker/dep/api/x86/Release/lib/libcurl_imp.lib
osu\!Tracker/dep/api/x86/Release/lib/pkgconfig/libcurl.pc
*.vcxproj
*.filters
*.user
*.config
